.board-index {
    width: 100vw;

    header {
        width: 95%;
        margin: auto;

        .workspace {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 32px 8px;
            margin: auto;
            max-width: 1266px;

            @media (max-width: 1380px) {
                padding-inline: 40px;
            }

            .workspace-icon {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 60px;
                height: 60px;
                background: linear-gradient(#E774BB, #943D73);
                border-radius: 4px;
                font-size: 2.188em;
                font-weight: 700;
                color: $bgclr1;

                margin-inline-end: 10px;
            }

            h3 {
                margin: 0;
                padding: 0;
            }

        }

    }
}

.horizontal-rule {
    margin: auto;
    width: 92.5%;
    border-color: #A6C5E229;
    height: 1px;
}

h2 {
    margin: 0;
    font-size: 1.25em;
}

button {
    margin-inline-end: 0;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
}

.board-main {
    padding: 32px;
    margin: 0 auto;
    max-width: 95%;

    .boards-header {
        font-size: 20px;
        max-width: 1266px;

        margin: auto;
        padding-inline: 8px;
    }
}