.board-index {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6.889em;
        width: 88.2vw;
        margin-inline: auto;
    }

    h2 {
        margin: 0;
        font-size: 1.11em;
    }

    button {
        margin-inline-end: 0;
    }
    
    .workspace-icon {
        width: 60px;
        height: 60px;
        background: linear-gradient(var(--ds-background-accent-magenta-bolder, #b22865), var(--ds-background-accent-magenta-subtle, #cd5a91));
    }
}