.homepage-container {
    margin-block-start: 60px;
    text-align: center;

    font-family: 'Charlie Text';

    .homepage-first {
        background: url("../imgs/white-wave.svg") center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, darken(rgb(82, 67, 170), 20%), darken(rgb(237, 80, 180), 20%)) 0% 0% / auto repeat scroll padding-box border-box darken(rgb(82, 67, 170), 20%);
        background-blend-mode: normal, normal;
        color: rgb(255, 255, 255);
        scroll-margin-top: 72px;



        @media (min-width:768px) and (max-width: 991px) {
            background: url("../imgs/white-wave.svg") center bottom -0.5px / 100% 24% no-repeat scroll padding-box border-box, linear-gradient(60deg, darken(rgb(82, 67, 170), 20%), darken(rgb(237, 80, 180), 20%)) 0% 0% / auto no-repeat scroll padding-box border-box darken(rgb(82, 67, 170), 20%);
            background-blend-mode: normal, normal;
            color: rgb(255, 255, 255);
        }

        .container {

            display: flex;
            align-items: center;

            margin-left: auto;
            margin-right: auto;
            padding-left: 1rem;
            padding-right: 1rem;

            width: 100%;


            @media (min-width: 576px) {
                max-width: 540px;
            }

            @media (min-width: 768px) {
                max-width: 720px;
            }

            @media (min-width: 992px) {
                max-width: 960px;
            }

            @media (max-width: 992px) {
                flex-direction: column;
            }

            @media (min-width:1200px) {
                max-width: 1140px;
            }


            .left-container {

                padding: 4.5rem 1rem 1rem;
                position: relative;
                scroll-margin-top: 72px;
                text-align: left;
                width: 100%;
                margin-top: 0px;

                @media (min-width: 992px) {
                    display: block;

                    text-align: left;
                    flex: 0 0 auto;
                    width: 50%;
                    margin-bottom: 0px;
                    padding-bottom: 8rem;
                }
            }

            .right-container {
                padding: 1rem;
                position: relative;
                scroll-margin-top: 72px;
                text-align: center;
                width: 100%;
                margin-bottom: -1rem;
                z-index: 1;

                img {
                    width: 100%;

                    @media (min-width: 1200px) {
                        width: 110%;
                        translate: 9% 5%;
                    }
                }
            }
        }
    }

    .homepage-second {
        background: linear-gradient(0deg, lighten($bgclr1, 20), $bgclr1) 0% 0% / auto repeat scroll padding-box border-box;
        background-blend-mode: normal;
        color: $txtclr1;

        .header {
            max-width: 1140px;
            margin-inline: auto;
            padding-left: 1rem;
            padding-right: 1rem;


            @media (min-width: 576px) {
                max-width: 540px;
            }

            @media (min-width: 768px) {
                max-width: 720px;
            }

            @media (min-width: 992px) {
                max-width: 960px;
            }

            @media (min-width:1200px) {
                max-width: 1140px;
            }



            .inner-header {
                display: flex;

                flex-wrap: wrap;

                width: 100%;

                .text-block {
                    position: relative;

                    width: 100%;

                    padding: 1rem;
                    scroll-margin-top: 72px;
                    order: 3;

                    text-align: left;

                    @media (min-width: 768px) {
                        display: block;
                        flex: 0 0 auto;

                        order: 1;

                        width: 58.3333%;

                        text-align: left;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .homepage-info {
            padding: 1rem 1rem 80px;
            display: flex;
            height: 632px;

            @media (max-width: 1200px) {
                height: 745px;
            }

            @media (max-width: 992px) {
                flex-direction: column;
                height: auto;
            }
            
            .side-texts {
                padding: 1rem;
                width: calc((100% / 3));
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 0.7rem;
                height: max-content;
                
                @media (max-width: 1200px) {
                    gap: 1rem;
                }
                
                @media (max-width: 992px) {
                    // padding-bottom: 36px;
                    order: 1;
                }
                
                .side-text {

                    @media (max-width: 992px) {
                        display: none;
                        order: 1;
                    }

                    width: 100%;
                    padding: 1rem 1rem 1rem 1.5rem;
                    text-align: left;

                    &:hover {
                        cursor: pointer;
                    }

                    &.selected {
                        background-color: rgb(255, 255, 255, 0.9);
                        color: rgb(9, 30, 66);
                        box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
                        border-radius: 0.3rem;
                        border: 0px;
                        position: relative;


                        &::after {
                            background-color: rgb(0, 199, 229);
                            border-radius: 0.3rem 0px 0px 0.3rem;
                            bottom: 0px;
                            content: "";
                            left: 0px;
                            position: absolute;
                            top: 0px;
                            width: 0.5rem;
                        }
                    }

                    h3 {
                        font-family: 'Charlie Display';
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 21.3333px;
                        margin-block-end: 8px;
                    }

                    p {
                        font-family: 'Charlie Text';
                        font-weight: 400;
                        line-height: 24px;
                        margin: 0;
                    }

                }
            }

            .swiper-container {
                padding: 1rem;
                width: calc((100% / 3 * 2));

                @media (max-width: 992px) {
                    width: 100%;
                }

                .my-swiper {
                    padding-block-end: 20px;
                    height: calc(100% + 20px);
                    border-radius: 12px;
                    position: relative;

                    @media (max-width: 1200px) {
                        height: calc(100% - 189px + 20px);
                    }

                    @media (max-width: 992px) {
                        width: 100%;
                        height: auto;
                    }

                    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
                        position: absolute;
                        bottom: revert-layer;
                    }

                    .swiper-pagination-bullet{
                        background: #007aff;
                        transition: 0.3s;
                    }

                    .swiper-pagination-bullet-active {
                        width: 55px;
                        border-radius: 110px;
                    }

                    img {
                        height: 100%;
                        border-radius: 12px;

                        @media (max-width: 992px) {
                            width: 100%;
                            height: auto;
                        }

                        &:hover {
                            cursor: grab;
                        }

                        &:active {
                            cursor: grabbing;
                        }
                    }
                }
            }
        }
    }
}

.homepage-get-started {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    @media (max-width: 767.98px) {
        justify-content: center;
        width: 100%;
    }

    @media (max-width: 992px) {
        flex-direction: column;
    }



    button {
        @include btn;

        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;

        border-radius: 0.3rem;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease-out 0s;
        background-color: rgb(0, 101, 255);
        border: 1px solid rgb(0, 101, 255);
        font-size: 1rem;
        padding: 0.7rem 1rem 0.8rem;
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(7, 71, 166);
            border-color: rgb(7, 71, 166);
        }

    }
}

.spacer {
    height: 0.5rem;
}

.left-container {
    .text-block {
        h1 {

            font-family: 'Charlie Text Bold';

            @media (max-width: 768px) {
                font-family: 'Charlie Text';
                margin-bottom: 0.5rem;
                margin-top: 0px;
                font-size: 2rem;
                line-height: 1.25;
            }

            @media (min-width: 768px) {
                font-size: 2.75rem;
                line-height: 1.18182;
            }

            @media (min-width: 992px) {
                font-size: 3rem;
                line-height: 1.25;
            }


        }

        p {
            font-size: 1.25em;
            margin-bottom: 1.5rem;
        }
    }
}

.inner-header {
    .text-block {
        p {
            margin: 0;
        }

        .trellife-101 {
            font-weight: 500;
            margin-bottom: 0.5rem;
            margin-top: 0px;
            font-size: 1rem;
            line-height: 1.25;
            text-transform: uppercase;
        }

        .subtitle {
            padding-bottom: 1rem;
            font-size: 2.25em;
            margin: 0;
            margin-block-end: 8px;
        }

        .text-content {
            font-size: 1.25em;
        }
    }
}