@function em($pixels, $context: 16) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}

.task-details-backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    padding: em(48);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;


    .task-details {
        button {
            font-family: inherit;
        }

        position: relative;
        min-height: calc((100vh - 64px));
        width: em(768, 16);
        margin-block-end: auto;

        display: flex;
        flex-direction: column;
        // justify-content: center;

        background-color: rgb(50 57 64);
        font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
        color: rgb(182, 194, 207);
        border-radius: 12px;

        .icon {
            position: absolute;
            height: em(20);
            width: em(20);
        }

        .close-icon {
            right: em(16);
            top: em(16);

            height: em(24);
            width: em(24);

            z-index: 3;

            &:hover {
                cursor: pointer;
                background-color: #45505a;
                border-radius: 50%;
                // padding: em(20);
                // NEED TO REFACTOR
            }
        }

        .task-details-cover {
            position: relative;
            height: 7.25em;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;

            .task-header-action-container {
                position: absolute;
                background-color: transparent;
                right: 0;
                bottom: 0;

                .action {
                    padding: em(6);
                    font-size: em(14);
                    color: inherit;
                    display: flex;
                    align-items: center;
                    gap: em(6);
                    margin-inline-end: em(16);
                    margin-block-end: em(12);
                    background-color: transparent;
                    color: white;
                    border-radius: 3px;

                    &:hover {
                        background-color: #45505a;
                    }

                    .icon {
                        position: static;
                        height: auto;
                        width: 1em;
                    }
                }
            }
        }

        .fs12 {
            font-size: em(12);
            margin-block-end: em(4, 14);
        }

        .task-header {
            position: relative;
            min-height: em(32);
            padding: em(12) em(52)em(8) em(56);

            display: flex;
            flex-direction: column;

            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            margin-block-end: 24px;

            input {
                border: none;
                outline: none;
                background-color: transparent;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 600;
                font-size: 20px;
                color: inherit;
                width: 77%;
                height: 33px;
                margin-left: -12px;
                padding: 3px 10px;
                overflow: hidden;
                border-radius: 4px;
                background-color: #23262a;
                border: 2px solid #86b6f4;
                line-height: 3em;
                cursor: pointer;

            }

            .task-title {
                font-size: em(20);
                font-weight: 600;
                margin-inline-end: auto;
            }

            .task-in-list {
                padding-inline-start: em(1);
                color: $txtclr2;
            }

            .card-icon {
                left: em(20);
                top: em(18);
            }
        }

        .task-container {
            display: flex;

            .task-content {
                position: relative;
                width: 576px;
                padding: 0 8px 8px 57px;

                .members-labels-notifications-date-container {
                    display: flex;
                    gap: 1em;
                    flex-wrap: wrap;
                    margin-block-end: 2em;

                    &>* {
                        display: flex;
                        flex-direction: column;
                    }

                    .members-img-container {
                        display: flex;
                        gap: em(2);

                        .member-thumbnail {
                            height: em(32);
                            width: em(32);
                            border-radius: 50%;
                            margin: 0 4px 4px 0;

                        }

                        .add-member-thumbnail {
                            position: relative;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            height: 32px;
                            width: 32px;
                            border-radius: 50%;

                            background-color: #A1BDD914;

                            img {
                                width: 16px;
                                height: 16px;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }


                    .labels {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 4px;

                        .label {
                            font-size: 0.875em;
                            font-weight: 500;
                            height: 32px;
                            border-radius: 3px;
                            padding: em(3) em(12);
                            line-height: 2;
                            min-width: 48px;


                            &:hover {
                                cursor: pointer;
                                opacity: 0.7;
                            }
                        }
                    }

                    .due-date-inner-container {
                        display: flex;
                        gap: 5px;

                        .checkbox-due-date {
                            @include checkbox;

                            vertical-align: middle;
                            margin: auto;

                        }
                    }

                    .date-container {
                        position: relative;
                        display: flex;

                        div.date {
                            display: flex;
                            align-items: center;
                            margin: 0 8px 8px 0;
                            padding: 8px 12px 8px 6px;
                            border-radius: 3px;
                            margin-block: auto;

                            background-color: #A1BDD914;

                            &:hover {
                                cursor: pointer;
                            }
                        }


                        .arrow-down {
                            position: absolute;
                            right: 20px;
                            width: 16px;
                            height: 16px;
                            filter: invert(73%) sepia(21%) saturate(206%) hue-rotate(170deg) brightness(90%) contrast(90%);
                        }


                        .date-input {
                            // direction: rtl;
                            font-family: inherit;
                            padding-inline-end: 6px;
                            width: 140.5px;

                            background-color: transparent;
                            color: $txtclr1;
                            font-size: .875em;
                            border: none;
                            outline: none;

                            &::-webkit-calendar-picker-indicator {
                                display: none;
                                appearance: none;
                                -webkit-appearance: none;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .inside-input-is-done {
                            color: $bgclr1;
                            margin-inline-end: 20px;

                            padding: 0 4px;
                            font-size: 12px;
                            line-height: 16px;

                            border-radius: 2px;
                            font-weight: 500;
                        }
                    }
                }

                .description-container {
                    width: 512px;

                    display: flex;
                    flex-direction: column;

                    place-self: center;
                    margin-block-end: 24px;

                    .description-title {
                        position: relative;

                        display: flex;
                        justify-content: space-between;

                        align-items: center;
                        min-height: 32px;
                        margin: 0 0 4px 0px;
                        padding: 8px 0;

                        & .description-icon {
                            position: absolute;
                            left: -39px;
                            translate: 0 0.6px;
                            width: 24px;
                            height: 24px;

                        }

                        & span {
                            font-size: 1em;
                            line-height: 20px;
                            font-weight: 600;
                        }

                        button {
                            @include btn;
                            background-color: #A1BDD914;
                            color: $txtclr1;
                            font-weight: 500;

                            &:hover {
                                background-color: #A6C5E229;
                            }
                        }
                    }

                    .btns {
                        margin-block-start: 8px;

                        button {
                            @include btn;
                            width: fit-content;

                            margin-inline-end: 6px;

                            &.btn-save:hover {
                                background-color: #85B8FF;
                            }

                            &.btn-cancel {
                                background-color: transparent;
                                color: $txtclr1;

                                &:hover {
                                    background-color: #A6C5E229;
                                }
                            }
                        }
                    }
                }

                .attachments-container {
                    position: relative;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    margin-block-end: 24px;
                    // gap: em(8);

                    .attachments-icon {
                        left: -38px;
                        width: 24px;
                        height: 24px;
                    }

                    .attachments-title {
                        font-size: 1em;
                        line-height: 20px;
                        font-weight: 600;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        min-height: 32px;
                        margin: 0 0 4px 0px;
                        padding: 8px 0;
                        width: 100%;

                        & button {
                            font-family: inherit;
                            font-size: 14px;
                            line-height: 20px;
                            padding: 6px 12px;
                            border-radius: 3px;
                            font-weight: 500;
                            transition-property: background-color, border-color, box-shadow;
                            transition-duration: 85ms;
                            transition-timing-function: ease;
                            background-color: #579DFF;
                            color: $bgclr1;
                            background-color: rgba(161, 189, 217, 0.0784313725);
                            color: #b6c2cf;
                            font-weight: 500;
                        }
                    }

                    .attachments {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .attachment {
                            display: flex;
                            align-items: center;
                            font-size: em(14);
                            padding: 4px 8px 4px 0;
                            // width: em(512); //Somewhy looks better without this


                            .attachment-file-preview {
                                display: block;
                                font-size: 18px;
                                font-weight: 700;
                                height: 80px;
                                line-height: 80px;
                                text-align: center;
                                text-decoration: none;
                                padding-inline: 25px;
                                width: 112px;
                                border-radius: 3px;
                            }

                            .attachment-thumbnail {
                                height: em(80, 14);
                                width: em(112, 14);
                                background-position: 50%;
                                background-repeat: no-repeat;
                                background-size: contain;
                                border-radius: 3px;


                                // flex-grow: 1;
                            }

                            .attachment-details {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: em(8) em(8) em(8) em(16);
                                width: 400px;
                                // flex-shrink: 1;

                                .attachment-header {
                                    .attachment-title {
                                        font-weight: 700;
                                        word-break: break-all;
                                    }
                                }

                                .attachment-main {
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;


                                    .attachment-added-at {
                                        white-space: nowrap;
                                    }


                                    .attachment-link {
                                        display: flex;

                                        .attachment-link-text {
                                            text-decoration: underline;
                                        }

                                        &:hover {
                                            cursor: pointer;
                                        }

                                        &::before {
                                            content: " • ";
                                            padding-inline: 4px;
                                            height: 19px;
                                        }
                                    }

                                }

                                .attachment-set-remove-cover {
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;

                                    .attachment-set-remove-cover-icon {
                                        position: static;
                                        height: 16px;
                                        width: 16px;
                                        scale: .9;
                                    }

                                    .attachment-span-set-remove-cover {
                                        text-decoration: underline;

                                        &:hover {
                                            cursor: pointer;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }



                .activity-container {
                    position: relative;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;

                    margin-block-end: 24px;

                    .input-container {
                        display: flex;
                        flex-direction: column;

                        position: relative;

                        .comment {

                            height: 40px;
                            padding: 8px 12px;
                            resize: none;
                            width: 512px;

                            border: none;
                            background-color: #A1BDD914;
                            color: '$txtclr1';
                            border-radius: 8px;

                            font-weight: 500;
                            font-size: .875em;
                            font-family: inherit;
                            line-height: 1.25em;

                            background-color: #22272B;
                            color: $txtclr1;
                            font-size: 0.875em;
                            line-height: 1.714;
                            font-weight: normal;
                            margin-top: 0.75rem;
                            margin-bottom: 8px;
                            letter-spacing: -0.005em;

                            &.editing {
                                height: 64px;
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: $bgclr2;
                            }

                            &.editing:hover {
                                cursor: text;
                            }

                            &:focus-visible {
                                outline: none;
                            }

                            &:focus-within {
                                box-shadow: 0 0 0 2px inset #579DFF;
                            }
                        }

                        .user-img-activity-input {
                            position: absolute;
                            top: 16px;
                            left: -42px;

                            width: 32px;
                            height: 32px;

                            border-radius: 50%;
                        }

                        .btns {
                            margin-block-start: 8px;

                            .btn-save {
                                @include btn;
                                width: fit-content;

                                margin-inline-end: 6px;

                                &:disabled {
                                    background-color: #BCD6F00A;
                                    color: #BFDBF847;
                                    cursor: not-allowed;
                                }

                                &.btn-save:hover:not(:disabled) {
                                    background-color: #85B8FF;
                                }

                            }
                        }
                    }

                    .activity-title {
                        display: flex;
                        flex-direction: column;
                        padding: 8px 0;

                        .activity-title-text {
                            font-size: 1em;
                            line-height: 20px;
                            font-weight: 600;
                            margin-block-end: 4px;
                        }
                    }

                    .activity-icon {
                        left: -36px;
                        scale: 0.84;
                    }

                    & input {
                        box-sizing: border-box;
                        border: none;
                        outline: none;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        padding: 8px 12px;
                        border-radius: 3px;
                        background-color: $bgclr2;
                        color: $txtclr1;
                        box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);
                        width: 512px;
                        margin-bottom: 0;

                        box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
                        border-radius: 8px;

                        &::placeholder {
                            color: #8C9BAB;
                        }

                    }
                }

            }
        }

        .task-actions {
            display: flex;
            flex-direction: column;
            padding: em(2) em(16) em(8) em(8);


            .add-to-card {
                color: $txtclr2;
            }

            .action {
                display: flex;
                align-items: center;

                position: relative;

                font-family: inherit;
                font-weight: 500;

                width: em(156);
                font-size: em(14);
                color: inherit;
                background-color: rgba(161, 189, 217, 0.08);
                text-align: start;
                border-radius: 3px;
                height: em(32, 14);
                margin-block-end: em(8);
                width: em(168, 14);
                padding: em(6) em(12);
                text-overflow: ellipsis;
                transition-duration: 85ms;
                transition-property: background-color;
                transition-timing-function: ease;
                white-space: nowrap;

                .icon {
                    height: 1em;
                    width: 1em;
                }

                .action-title {
                    padding-inline-start: em(24, 14);
                }

                &:hover {
                    background-color: rgba(166, 197, 226, 0.16);
                }

            }


        }
    }
}

.comments-container {

    .comment-container {
        position: relative;

        min-height: 32px;
        padding: 8px 0;

        width: 510px;

        .comment-reactions {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            line-height: 24px;
            color: $txtclr2;

            .edit-and-delete {
                font-size: 12px;

                .sep {
                    padding-inline: 3px;
                }

                .comment-reaction-button {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        p {
            font-size: .875em;
            font-weight: 700;
            margin: 0;

        }

        .comment-timestamp {
            font-size: .75rem;
            color: #9FADBC;
            font-weight: 400;
        }

        .member-img-comment {
            position: absolute;
            top: 12px;
            left: -42px;

            height: 32px;
            width: 32px;

            border-radius: 50%;
        }

        .comment-txt {
            padding: 8px 12px;
            background-color: #22272B;
            border-radius: 8px;
            margin: 4px 2px 4px 0;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
        }
    }
}

.description-container {
    .description {
        min-height: 40px;
        padding: 8px 12px;
        resize: none;

        border: none;
        background-color: #A1BDD914;
        color: '$txtclr1';
        border-radius: 3px;

        font-weight: 500;
        font-size: .875em;
        font-family: inherit;
        line-height: 1.25em;


        &.editing {
            box-shadow: 0 0 0 1px inset #738496;
            background-color: #22272B;
            color: $txtclr1;
            font-size: 0.875em;
            line-height: 1.714;
            font-weight: normal;
            margin-bottom: 0px;
            letter-spacing: -0.005em;


            &:hover {
                cursor: text;
            }

            &:focus-visible {
                outline: none;
            }

            &:focus-within {
                box-shadow: 0 0 0 2px inset #579DFF;
            }
        }

        &::placeholder {
            color: $txtclr1;
        }

        &.has-content {
            background-color: rgb(50 57 64);
            padding: 0;
            color: $txtclr1;
            font-weight: 400;

            &:focus-visible {
                outline: none;
            }
        }

        &:not(.has-content):not(.editing):hover {
            cursor: pointer;
            background-color: #A6C5E229;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.checklist-items {
    position: relative;


    & .checklist-item-container {
        position: relative;

        border-radius: 12px;
        transform-origin: left bottom;

        transition-duration: .15s;
        transition-property: transform, opacity, height, padding, margin, background-color;
        transition-timing-function: ease-in;

        & .checklist-item-checkbox {
            position: absolute;
            left: -45.7px;

            margin: 6px;

            text-align: center;

            & .item-checkbox {
                @include checkbox;
            }
        }

        & .checklist-item-details {
            position: relative;

            display: inline-flex;
            width: 101.5%;

            margin: 0 0 0 -8px;
            padding: 6px 8px;

            border-radius: 12px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-word;

            &:hover {
                background-color: #A1BDD914;
                cursor: pointer;
            }

            .todo-actions {
                display: none;
            }

            &:hover .todo-actions {
                display: flex;
                align-items: center;

                position: absolute;
                right: 9px;
                top: 4px;

                .action-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 26px;
                    height: 26px;
                    border-radius: 50%;

                    background-color: #434E57;

                    &:hover {
                        background-color: #4D5964;
                    }
                }

                img {
                    position: relative;

                    height: 20px;
                    width: 20px;

                    font-size: 16px;
                    line-height: 20px;
                }

            }

            .todo-title {
                font-size: 0.875em;
                align-self: center;
                flex: 1;
                margin-bottom: 0;
                min-height: 20px;
            }
        }
    }
}

.sidebar-hr {
    background-color: #A6C5E229;

    height: 1px;
    width: 100%;

    margin-block: 0 8px;
    border: 0;
    padding: 0;
}

.checklists-container {
    position: relative;

    margin-block-end: 24px;

    .checklist-container {

        margin-block-end: 24px;

        & .checklist-title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 8px 0;
            margin-block-end: 4px;

            & .btn-delete-checklist {
                @include btn;

                background-color: #A1BDD914;
                color: $txtclr1;
                font-weight: 500;

                &:hover {
                    background-color: #A6C5E229;
                }
            }
        }

        .checklist-progress {
            position: relative;
            margin-block-end: 6px;

            & .progress-percentage {
                position: absolute;
                top: -1px;
                left: -42.8px;

                color: $txtclr1;

                text-align: center;
                font-size: 11px;
                line-height: 10px;
                width: 32px;
            }

            & .progress-bar {
                position: relative;

                background: #A1BDD914;
                border-radius: 4px;
                height: 8px;
                overflow: hidden;

                width: 512px;

                & .progress-bar-current {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;

                    background-color: #0055CC;
                    transition-duration: .14s;
                    transition-property: width, background-color;
                    transition-timing-function: ease-in;
                }
            }
        }
    }

    .checklists-icon {
        left: -38px;
        width: 24px;
        height: 24px;
        scale: 0.88;
    }

    .checklist-title {
        font-size: 1em;
        line-height: 20px;
        font-weight: 600;
    }

    .add-item-container {
        .btn-add-item {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            margin-block-start: 8px;

            background-color: #A1BDD914;
            color: $txtclr1;

            border-radius: 3px;

            font-family: inherit;
            font-weight: 500;
            line-height: 20px;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;
            white-space: normal;

            &:hover {
                background-color: #A6C5E229;
            }
        }


        .new-checklist-item {
            overflow: hidden;
            overflow-wrap: break-word;
            resize: vertical;

            padding: 8px 12px;
            width: 512px;
            height: 56px;

            border: none;
            background-color: #A1BDD914;
            color: '$txtclr1';
            border-radius: 3px;

            font-weight: 500;
            font-size: .875em;
            font-family: inherit;
            line-height: 1.25em;

            box-shadow: 0 0 0 1px inset #738496;
            background-color: #22272B;
            color: $txtclr1;

            font-size: 0.875em;
            line-height: 1.714;
            margin-top: 4px;
            margin-bottom: 0px;
            letter-spacing: -0.005em;

            &:hover {
                cursor: text;
            }

            &:focus-visible {
                outline: none;
            }

            &:focus-within {
                box-shadow: 0 0 0 2px inset #579DFF;
            }
        }


        .checklist-add-controls {
            display: flex;

            button {
                @include btn;
                width: fit-content;

                margin-inline-end: 6px;

                &.btn-add:hover {
                    background-color: #85B8FF;
                }

                &.btn-cancel {
                    background-color: transparent;
                    color: $txtclr1;

                    &:hover {
                        background-color: #A6C5E229;
                    }
                }
            }
        }
    }
}

.item-actions {
    width: 304px;

    color: $txtclr1;
    background-color: $bgclr2;
    box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
    border-radius: 8px;

    z-index: 10;

    .item-actions-header {
        display: grid;
        position: relative;
        grid-template-columns: 32px 1fr 32px;
        align-items: center;
        padding: 4px 8px;
        text-align: center;

        h2 {
            display: block;
            position: relative;
            grid-column: 1 / span 3;
            grid-row: 1;
            height: 40px;
            margin: 0;
            padding: 0 32px;
            overflow: hidden;
            color: $txtclr2;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.003em;
            line-height: 40px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        button {
            @include btn;
            background-color: transparent;
            grid-column: 3;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 8px;

            &:hover {
                background-color: #A6C5E229;
                cursor: pointer;
            }

            img {
                width: 16px;
                height: 16px;
                filter: brightness(0) saturate(100%) invert(68%) sepia(28%) saturate(212%) hue-rotate(170deg) brightness(86%) contrast(81%);
            }
        }
    }

    .item-actions-body {
        max-height: 1162px;

        .item-action {
            @include btn;

            display: block;
            position: relative;
            width: 100%;
            margin: unset;
            padding: 6px 12px;
            background-color: unset;
            font-weight: normal;
            text-align: left;

            color: $txtclr1;
            font-size: 14px;
            cursor: pointer;

            transition: background-color 0s;

            &:last-child {
                margin-block-end: 8px;
            }

            &:hover {
                background-color: #A6C5E229;
            }
        }
    }
}