.outer-header {
    &.homepage {
        position: fixed;
        top: 0px;
        width: 100vw;
        height: 60px;

        z-index: 100;

        transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;

        &:hover {
            box-shadow: rgba(255, 255, 255, 0.15) 0px 0.5rem 1rem 0px;
        }
    }
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline-start: 8px;

    background-color: $bgclr1;
    height: 48px;
    border-bottom: 1px solid rgba(159, 173, 188, 0.16);
    padding: 8px;

    margin: auto;

    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;


    &.homepage {
        height: 60px;
        margin: 0px auto;
        max-width: 1320px;
        align-items: stretch;
        padding: 0;

        border-bottom: none;

    }

    a,
    a:hover {
        text-decoration: none;
        color: inherit;
        line-height: 60px;
    }

    .header-links {
        position: relative;
        display: flex;
        align-items: center;
        gap: .25em;

        &.homepage {
            display: none;

            &+.logo-wrapper {
                height: 60px;
            }
        }

    }

    .btn-create {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        margin-inline-end: 4px;

        padding: 0.375em;
        border: 0;
        border-radius: 3px;
        background-color: #579dff;
        color: $bgclr1;
        font-weight: 600;
        line-height: 32px;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            background-color: #85B8FF;
        }
    }
}


.logo-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 5px;

    padding-inline: 8px;
    border-radius: 3px;
    margin-inline-end: .25em;
    height: 32px;
    margin-block: auto;

    font-weight: 500;

    &.homepage {
        font-size: 1.2em;
    }

    &:hover {
        cursor: pointer;
        user-select: none;
    }

    p {
        margin: 0 6px 0 0;
        color: #9fadbc;
        font-size: 0.875em;
    }

    .svg-arrow-down {
        width: 14px;
        filter: invert(73%) sepia(21%) saturate(206%) hue-rotate(170deg) brightness(90%) contrast(90%);
    }

    .logo-text {
        font-family: 'Charlie';
        font-weight: 600;
        font-size: 1.2em;
        line-height: 16px;
        letter-spacing: .1em;
    }
}

.logo-wrapper:hover, .logo-wrapper.active {
    background-color: #A6C5E229;
}

.logo {

    width: 16px;
    height: 16px;

    padding-inline: 8px;

    filter: brightness(0) saturate(100%) invert(66%) sepia(20%) saturate(225%) hue-rotate(170deg) brightness(101%) contrast(85%);
    border-radius: 3px;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        display: block;

        width: 100%;
        height: 100%;

        background-image: url(../../../src/assets/styles/imgs/staticLogo.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}


.logo-wrapper:hover .logo::before {
    background-image: url(../../../src/assets/styles/imgs/animatedLogo.gif);
}



.homepage-links {
    font-family: 'Charlie Text';
    display: none;
    font-size: 1.2em;

    &.homepage {
        display: flex;
        align-items: center;
        justify-content: center;

        & *:hover {
            cursor: pointer;
        }
    }

    .btn-login {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 60px;

        padding: 8px 24px;

    }

    .btn-register {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;

        background-color: $txtclr1;
        color: $bgclr1;

        padding: 8px 24px;

        &:hover {
            background-color: $txtclr1hvr;
        }
    }
}