.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $bgclr1;
    height: 48px;
    border-bottom: 1px solid rgba(159, 173, 188, 0.16);
    padding: 8px;

    .header-links {
        display: flex;
        gap: .25em;

        .logo-wrapper {
            font-weight: 500;
            &:hover {
                cursor: pointer;
            }

            p {
                margin: 0 6px 0 0;
            }

            .svg-arrow-down {
                width: 14px;
                filter: invert(73%) sepia(21%) saturate(206%) hue-rotate(170deg) brightness(90%) contrast(90%);
            }
        }
    }


    .logo-wrapper {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 8px;
        border-radius: 3px;
        margin-inline-end: .25em;

    }

    .logo-wrapper:hover {
        background-color: #A6C5E229;
    }

    .logo {
        display: block;

        width: 75px;
        height: 32px;

        padding-inline: 8px;

        filter: brightness(0) saturate(100%) invert(66%) sepia(20%) saturate(225%) hue-rotate(170deg) brightness(101%) contrast(85%);
        border-radius: 3px;
    }


    .logo:hover {
        // background-color: #A6C5E229;

        &::before {
            background-image: url(https://trello.com/assets/87e1af770a49ce8e84e3.gif);
        }
    }

    .logo::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        display: block;

        width: 100%;
        height: 100%;

        background-image: url(https://trello.com/assets/d947df93bc055849898e.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

}