.group-list-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #22272b;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;

  .back-to-boardlist-link {
    text-decoration: none;
    color: $textclr2;
    margin-bottom: 20px;
  }

  .add-group {

    height: 40px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding: 9px 8px;
    margin: 4px 4px 0;
    padding: 12px;
    border-radius: 12px;
    background-color: #ffffff4e;
    min-width: 272px;
    color: white;
    transition: background-color 0.1s;
    cursor: pointer;
    img {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      .add{
        filter: invert(99%) sepia(92%) saturate(1%) hue-rotate(194deg) brightness(105%) contrast(100%);
      }
    }
    span {
      display: flex;
      
      font-weight: 600;
      font-size: 14px;

     
    }

    &:hover {
      background-color: #828e9b66;
    }

  }

}

.group-container {
  display: flex;
  gap: 12px;
  padding-bottom: 20px;
  min-height: calc(100vh - 140px);
  align-items: flex-start;
}

.group-preview-container {
  flex: 0 0 272px;
}


.group-list-container::-webkit-scrollbar {
  height: 12px;
}

.group-list-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.group-list-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

.group-list-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}