.board-preview {
    position: relative;
    width: 30vw;
    min-width: 152px;
    max-width: 300.5px;
    height: 96px;
    margin-inline-end: 1em;
    margin-block: 1.7em;

    flex: 1 1 calc(30vw - 1em);

    .board-preview-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 3px;

        .board-preview-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 20%;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000026;

            &:hover {
                background-color: rgb(0 0 0 / 0.25);
            }
        }


    }

    .title {
        position: absolute;
        top: .5em;
        left: .5em;
        color: white;
        font-size: 1rem;
    }
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;

    .btn-add-to-collection {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #A1BDD914;
        width: 24px;
        height: 24px;
        margin-right: 0;
        padding: 2px;
        border-radius: 3px;
        color: #9FADBC;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;

        &:hover {
            color: #B6C2CF;
            background: #A6C5E229;
        }
    }
}