.board-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 89vw;
    max-width: 1250px;

    margin: auto;

    padding: 20px 0 8px;

    label {
        font-size: 0.75em;
        font-weight: 700;
        line-height: 16px;
        margin-block: 12px 4px;
        color: #9fadbc;
    }
    .short-label {
        width: 200px;
    }
    .long-label {
        width: 250px;
    }
}

.search-filter-container {
    display: flex;
    flex-direction: column;
    
}