.board-details-container {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 104px);
  background-color: $bgclr2;
  background-size: cover;
  padding: 12px 20px 8px;
  overflow-x: auto;

  .back-to-boardlist-link {
    text-decoration: none;
    color: $textclr2;
    margin-bottom: 20px;
  }

  .add-group {
    display: flex;
    align-items: center;
    height: 40px;
    min-width: 272px;
    padding: 12px;
    border-radius: 12px;
    background-color: #ffffff4e;
    color: white;
    transition: background-color 0.1s;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      filter: brightness(0) saturate(100%) invert(11%) sepia(36%) saturate(2754%) hue-rotate(199deg) brightness(95%) contrast(90%);

      .add {
        filter: invert(99%) sepia(92%) saturate(1%) hue-rotate(194deg) brightness(105%) contrast(100%);
      }
    }

    span {
      display: flex;

      font-weight: 500;
      font-size: 14px;
      color: #172b4d;
    }

    &:hover {
      background-color: #828e9b66;
    }
  }
}

.group-container {
  display: flex;
  align-items: flex-start;

  width: max-content;
  min-height: calc(100vh - 140px);
  gap: 12px;
  padding-bottom: 20px;

  .group-item.dragging {
    opacity: .4;
    rotate: 4deg;
  }
}

.group-preview-container {
  flex: 0 0 272px;
}

.addgroup-from-container {
  display: flex;
  flex-direction: column;

  min-width: 272px;
  height: 92px;
  background-color: $bgclr3;
  border-radius: 12px;
  padding: 8px 10px;
  box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

  .addgroup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      border: none;
      outline: none;
      background-color: transparent;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: $textclr2;
      width: 100%;
      height: 33px;
      margin: 0;
      padding: 9px 6px;
      overflow: hidden;
      border-radius: 5px;
      background-color: #23262a;
      border: 2px solid #86b6f4;
    }

    .addgroup-btns {
      display: flex;
      gap: 4px;

      span {
        background-color: #579DFF;
        color: $bgclr1;
        padding: 5px 12px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 600;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        cursor: pointer;

        &:hover {
          background-color: #85B8FF;
        }
      }

      .close-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        border-radius: 4px;
        transition: background-color 0.1s ease;
        cursor: pointer;

        &:hover {
          background-color: $btnhoverclr;
        }

        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

//X scrollbar
.board-details-container::-webkit-scrollbar {
  height: 12px;
}

.board-details-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.board-details-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

.dragging {
  opacity: .4;
  rotate: 4deg;
}

.isloading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}