.board-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 1250px;
    padding: 20px 0 8px;
    margin: auto;

    label {
        @include label
    }

    .short-label {
        width: 200px;
    }

    .long-label {
        width: 250px;
    }
}

.sort-container {
    display: flex;
    flex-direction: column;

    select {
        padding: 8px .25em;
        width: 250px;
        box-shadow: inset 0 0 0 1px #738496;
        color: #b6c2cf;
        background-color:$bgclr2;
        border-radius: 3px;
        line-height: 20px;
        font-family: inherit;
        border: none;
        outline: none;
    }
}

.search-filter-container {
    display: flex;
    flex-direction: column;

    .input-container {
        display: flex;
        align-items: center;
        position: relative;

        .search-icon {
            position: absolute;
            left: 6px;
            font-size: 1em;
            color: #9fadbc;

        }

        .btn-clear-search {
            display: flex;
            align-items: center;
            justify-content: center;

            background: none;
            color: #9fadbc;

            position: absolute;
            right: 1px;

            span {
                font-size: 1em;
                transform: scaleX(.9);
            }
        }
    }

    input {
        padding: 8px 12px;
        padding-left: 2em;
        width: 250px;
        box-shadow: inset 0 0 0 1px #738496;
        color: #b6c2cf;
        background-color:$bgclr2;
        border-radius: 3px;
        line-height: 20px;
        font-family: inherit;
        border: none;
        outline: none;

        &::-webkit-input-placeholder {
            color: #b6c2cf;

        }

        &[placeholder] {
            text-overflow: ellipsis;
        }

        &:focus {
            background-color: $bgclr2;
            box-shadow: inset 0 0 0 2px #85b8ff;
        }
    }
}