.dropdown-menu {
    width: 304px;

    background: $bgclr2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 20;

    position: absolute;
    top: 48px;

    &.Boards {
        left: 142px;
    }

    &.Recent {
        left: 235px;
    }

    &.Starred {
        left: 326px;
    }

    &.Templates {
        left: 421px;
    }

    .menu-content {
        padding: 10px;

        h3 {
            margin-block-end: 10px;
            font-size: 1em;
        }

        ul {
            display: inline-block;

            list-style: none;
            padding: 0;
            margin: 0;

            width: 100%;

            .menu-list {
                position: relative;

                display: flex;
                align-items: center;
                // height: 32px;
                padding: 4px 8px 4px 4px;
                border-radius: 8px;
                font-weight: 700;

                text-decoration: none;
                -webkit-user-select: none;
                user-select: none;

                cursor: pointer;

                &:hover {
                    background-color: #A1BDD914;
                }

                & .board-bg {
                    display: inline-block;
                    position: relative;
                    flex: 0 0 auto;
                    width: 40px;
                    height: 32px;
                    border-radius: 4px;
                    opacity: 1;
                    background-size: cover !important;
                }

                .menu-text {
                    padding: 0 0 0 8px;
                    overflow: hidden;
                    display: block;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: .875em;
                }
            }
        }
    }
}

.no-starred {
    color: $txtclr2;
    text-align: center;
    font-size: .875em;
    margin-block-start: 12px;
}

.no-starred-image {
    margin-block-start: -20px;
}