.dropdown-menu {
    width: 304px;

    background: $bgclr4;
    box-shadow: 0px 5px 8px rgb(9 30 66 / 0.2);
    border-radius: 8px;
    z-index: 20;

    border: 1px solid rgba(255, 255, 255, 0.1);

    .menu-content {
        padding: 10px;

        h3 {
            margin-block-end: 10px;
            font-size: 1em;
        }

        ul {
            display: inline-block;

            list-style: none;
            padding: 0;
            margin: 0;

            width: 100%;

            .menu-list {
                position: relative;

                display: flex;
                align-items: center;
                // height: 32px;
                padding: 4px 8px 4px 4px;
                border-radius: 8px;
                font-weight: 700;

                text-decoration: none;
                -webkit-user-select: none;
                user-select: none;

                cursor: pointer;

                &:hover {
                    background-color: #A1BDD914;
                }

                &:hover .star-icon-container {
                    width: 32px;
                    display: flex;

                }

                & .board-bg {
                    display: inline-block;
                    position: relative;
                    flex: 0 0 auto;
                    width: 40px;
                    height: 32px;
                    border-radius: 4px;
                    opacity: 1;
                    background-size: cover !important;
                }

                .menu-text {
                    display: block;
                    width: 100%;

                    padding: 0 0 0 8px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: .875em;
                }

                .star-icon-container {
                    display: none;
                    align-items: center;
                    justify-content: center;

                    &.is-starred {
                        filter: brightness(0) saturate(100%) invert(67%) sepia(60%) saturate(2110%) hue-rotate(9deg) brightness(101%) contrast(98%);
                    }

                    & img {
                        width: 14px;
                        height: 14px;

                        &:hover {
                            width: 16px;
                            height: 16px;
                            filter: brightness(0) saturate(100%) invert(67%) sepia(60%) saturate(2110%) hue-rotate(9deg) brightness(101%) contrast(98%);
                        }
                    }
                }
            }
        }
    }
}

.no-starred {
    color: $txtclr2;
    text-align: center;
    font-size: .875em;
    margin-block-start: 12px;
}

.no-starred-image {
    margin-block-start: -20px;
}

.more-menu {
    position: fixed;
    inset: 46px auto auto 148px;
    width: 304px;
    
    padding-block: 8px;

    background-color: $bgclr4;
    z-index: 50;

    box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    border-radius: 8px;

    @media (max-width: 430px) {
        width: 200px;
    }

    & .logo-wrapper {
        margin-inline-end: 0;
        height: 32px;
    }
    @media (min-width:991px) {
        display: none;
    }

    & .svg-arrow-down {
        rotate: -90deg;
    }
}