.group-preview-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 4px;
    margin: 4px 4px 0;
    position: relative;
    align-items: center;

    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: $textclr2;
        width: 77%;
        height: 33px;
        margin: 0;
        padding: 9px 10px;
        overflow: hidden;
        border-radius: 8px;
        background-color: #23262a;
        border: 2px solid #86b6f4;
        line-height: 3em;
        cursor: pointer;

    }

    .three-dots-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        transition: background-color 0.1s ease;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: $btnhoverclr;
        }

        .three-dots-open {
            height: 16px;
            width: 16px;
            cursor: pointer;
        }
    }

    .header-title {
        font-weight: 600;
        font-size: 14px;
        color: $textclr2;
        width: 77%;
        height: 20px;
        display: flex;
        align-items: center;
        padding: 9px 8px 9px 12px;
        cursor: pointer;
    }

    .header-svg-container {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .header-options-menu {
        position: absolute;
        top: 40px;
        left: 235px;

        display: flex;
        flex-direction: column;

        background-color: #222a2b;
        border-radius: 8px;
        box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25);
        border: 1px $btnhoverclr solid;

        width: 284px;
        padding-bottom: 2.5em;
        z-index: 10;

        .menu-header {
            padding: 9px 12px;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            color: $textclr2;

            .close-btn-wrapper {
                position: absolute;
                right: 8px;
                top: 6px;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.1s ease;

                &:hover {
                    background-color: $btnhoverclr;
                }

                img {
                    height: 16px;
                    width: 16px;
                }
            }
        }

        .menu-header-hr {
            background-color: rgba(166, 197, 226, 0.1607843137);
            height: 1px;
            width: 95%;
            margin-block: 0 8px;
            border: 0;
            padding: 0;
        }

        .menu-info {

            >p {
                font-size: 14px;
                color: $textclr2;
                
                padding: 4px 8px;
                margin: 0;
                margin-bottom: 5px;
                cursor: pointer;

                &:hover {
                    background-color: $btnhoverclr;
                }
            }

            .color-picker-accordion {
                margin-bottom: 10px;

                .color-picker-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    padding: 4px 8px;
                    margin-block-end: 0em;
                    
                    color: $textclr2;
                    cursor: pointer;
                    
                    .color-picker-btn {
                        font-size: 12px;


                    }

                    .color-picker-arrow {
                        padding-right: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            filter: invert(42%) sepia(17%) saturate(178%) hue-rotate(170deg) brightness(78%) contrast(90%);

                            height: 16px;
                            width: 16px;
                        }
                    }

                    &:hover {
                        color: rgba(255, 255, 255, 0.925);
                        filter: brightness(100) saturate(0%);
                    }

                }

                .colors-grid {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 4px;
                    padding: 4px 8px;


                    .color-option {
                        width: calc(20% - 4px);
                        height: 36px;
                        border-radius: 3px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .remove-group-bgc {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 32px;
                        margin: 4px 0px;

                        background-color: rgba(132, 153, 189, 0.08);
                        border-radius: 3px;
                        font-size: 14px;

                        color: $textclr2;
                        cursor: pointer;

                        &:hover {
                            background-color: lighten(rgba(132, 153, 189, 0.08), 30%)
                        }
                    }
                }
            }

            .menu-footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                padding: 4px 8px;
                margin-bottom: 8px;
                cursor: pointer;

                &:hover {
                    background-color: $btnhoverclr;
                }

                span {
                    font-size: 14px;
                    color: $textclr2;
                }
            }
        }


    }
}