.group-preview-container {
    background-color: $bgclr3;
    border-radius: 12px;
    width: 272px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 143px);
    box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

    .group-preview {
        display: flex;
        z-index: 1;
        flex: 1 1 auto;
        flex-direction: column;
        margin: 0 4px;
        padding: 4px 4px 4px;
        overflow-x: hidden;
        overflow-y: auto;
        list-style: none;
        row-gap: 8px;

        scrollbar-color: rgb(255 255 255 / 20%) rgb(233 255 236 / 2%);
        scrollbar-width: thin;

        .task-container {
            display: flex;

            position: relative;

            height: fit-content;
            background-color: $bgclr2;
            border-radius: 8px;
            box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
            // padding: 0px 6px;
            // padding: 8px 12px 4px;



            &:hover {
                outline: 2px solid #86b6f4;

                cursor: pointer;
            }

            &:hover .pen-display {
                opacity: 1;
            }

            .pen-display {
                position: absolute;
                top: 3px;
                right: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                z-index: 25;
                opacity: 0;

                padding: 6px 8px;

                background-color: $bgclr2;

                img {
                    height: 16px;
                    width: 16px;
                }

                &:hover {
                    background-color: #282E33;
                }
            }

            .task-links {
                text-decoration: none;
                color: $textclr2;
                display: flex;
            }

            .task-inner-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                // padding: 4px 0px;
                .task-cover-container {
                    width: 100%;
                    height: 36px;
                    overflow: hidden;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                .task-info-container {
                    // padding: 8px 12px 4px;
                    padding: 8px 12px;
                    width: 100%;

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        word-wrap: break-word;
                        width: 100%;

                    }

                    .task-label-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 4px;
                        margin-bottom: 4px;
                        width: 90%;
                    }

                    .label-tab {
                        cursor: pointer;
                        border-radius: 4px;
                        overflow: hidden;
                        transition: all 0.3s ease;
                        transition: opacity 0s ease;

                        .label-color {
                            width: 40px;
                            height: 8px;
                            transition: all 0.3s ease;
                        }

                        &.expanded {
                            .label-color {
                                width: auto;
                                min-width: 56px;
                                height: 16px;
                                padding: 0 8px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                            }

                            &:hover {
                                opacity: 0.7;
                            }

                            .label-title {
                                font-size: 12px;
                                font-weight: 500;
                                color: #f4feffbc;
                                overflow: hidden;
                                text-overflow: ellipsis;

                            }
                        }
                    }

                    .task-title-container {
                        display: block;
                        margin-bottom: 4px;
                        overflow: hidden;
                        overflow-wrap: break-word;
                        white-space: normal;
                    }

                    .task-bottom-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2px;
                        width: 100%;
                        flex-wrap: wrap;

                        .task-bottom-leftside {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            margin-block-end: 2px;


                            img {
                                height: 16px;
                                width: 16px;
                            }

                            .task-comment-container {
                                position: relative;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                width: fit-content;
                                max-width: 100%;
                                height: 24px;

                                padding: 2px;

                                border-radius: 3px;

                                img {
                                    height: 16px;
                                    width: 16px;
                                }

                                .task-comment {
                                    padding-inline-start: 4px;
                                    font-size: 12px;
                                }
                            }

                            .task-checklist-container {
                                position: relative;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                width: fit-content;
                                max-width: 100%;
                                height: 24px;

                                padding: 2px;

                                border-radius: 3px;

                                & span {
                                    font-size: 12px;
                                    padding-inline-start: 4px;

                                }

                                & img {
                                    height: 16px;
                                    width: 16px;
                                }
                            }

                            .task-timer-container {
                                position: relative;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                width: fit-content;
                                max-width: 100%;
                                height: 24px;

                                padding: 2px;

                                border-radius: 3px;
                                color: $txtclr1;
                                font-size: .75em;

                                img {
                                    filter: brightness(0) saturate(100%) invert(99%) sepia(41%) saturate(2763%) hue-rotate(174deg) brightness(82%) contrast(73%);
                                }

                                & span {
                                    padding-right: 4px;
                                    padding-left: 2px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    font-size: 1em;
                                }
                            }

                            .task-attachment-container {
                                position: relative;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                width: fit-content;
                                max-width: 100%;
                                height: 24px;

                                padding: 2px;

                                border-radius: 3px;

                                & img {
                                    scale: .8;
                                }

                                & .task-comment {
                                    padding-left: 2px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    font-size: .75em;
                                }
                            }
                        }

                        .members-container {
                            display: flex;
                            margin-left: auto;
                            gap: 2px;

                            .member-thumbnail {
                                height: 24px;
                                width: 24px;
                                border-radius: 50%;

                                img {

                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }

        .addtask-from-container {
            background-color: $bgclr3;
            border-radius: 3px;
            margin-bottom: 8px;

            .addtask-form {
                display: flex;
                flex-direction: column;
            }

            textarea {
                // width: 256px;
                min-height: 56px;
                height: fit-content;
                padding: 8px 12px;
                border: none;
                border-radius: 8px;
                margin-bottom: 8px;
                font-size: 14px;
                background-color: $bgclr2;
                color: $textclr2;
                resize: none;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                &:focus {
                    outline: none;
                }
            }

            .addtask-btns {
                display: flex;
                gap: 4px;

                span {
                    cursor: pointer;
                    background-color: #579DFF;
                    color: #1D2125;
                    padding: 5px 12px;
                    border-radius: 3px;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                    &:hover {
                        background-color: #85B8FF;
                    }
                }

                .close-btn-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                    border-radius: 4px;
                    transition: background-color 0.1s ease;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        background-color: $btnhoverclr;
                    }
                }
            }
        }
    }

    .group-preview-footer {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 8px 0px 0;
        margin: 0 6px 8px;

        .add-icon {
            color: $textclr2;
            font-size: 14px;
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 8px;
            padding: 6px 8px;
            font-weight: 600;

            img {
                width: 14px;
                height: 14px;
                margin-right: 4px;
            }

            &:hover {
                color: #ffffff;
                background-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
            }
        }
    }
}