.group-preview-header {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 8px 8px 0;
    // margin: 4px 4px 0;

    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: $textclr2;
        width: 77%;
        height: 33px;
        margin: 0;
        padding: 9px 10px;
        overflow: hidden;
        border-radius: 8px;
        background-color: #23262a;
        border: 2px solid #86b6f4;
        line-height: 3em;
        cursor: pointer;

    }



    .header-title {
        display: flex;
        align-items: center;

        width: 77%;

        font-weight: 600;
        font-size: 14px;
        color: $txtclr1;
        line-height: 20px;

        padding: 6px 8px 6px 12px;
        cursor: pointer;
        overflow-wrap: anywhere;

    }

    .header-svg-container {
        display: inline-flex;
        // align-items: center;
        // gap: 2px;

        .collapse-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            transition: background-color 0.1s ease;
            border-radius: 4px;
            cursor: pointer;

            padding: 4px;

            &:hover {
                background-color: $btnhoverclr;
            }

            .collapse-icon {
                height: 24px;
                width: 24px;
                cursor: pointer;
            }

        }

        .three-dots-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            transition: background-color 0.1s ease;
            border-radius: 4px;
            cursor: pointer;
            padding: 4px;

            &:hover {
                background-color: $btnhoverclr;
            }

            .three-dots-icon {
                height: 16px;
                width: 16px;
                cursor: pointer;
            }
        }

    }

    .header-options-menu {
        position: absolute;
        top: 40px;
        left: 235px;

        display: flex;
        flex-direction: column;

        background-color: #222a2b;
        border-radius: 8px;
        box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25);
        border: 1px $btnhoverclr solid;

        width: 284px;
        padding-bottom: 2.5em;
        z-index: 10;

        .menu-header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 9px 12px;

            font-size: 14px;
            font-weight: 600;
            color: $textclr2;

            .close-btn-wrapper {
                position: absolute;
                right: 8px;
                top: 6px;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 28px;
                height: 28px;
                border-radius: 4px;
                transition: background-color 0.1s ease;
                cursor: pointer;

                &:hover {
                    background-color: $btnhoverclr;
                }

                img {
                    height: 16px;
                    width: 16px;
                }
            }
        }

        .menu-header-hr {
            height: 1px;
            width: 95%;
            margin-block: 0 8px;
            border: 0;
            padding: 0;
            background-color: $hrclr;
        }

        .menu-info {
            >p {
                font-size: 14px;
                color: $textclr2;

                padding: 4px 14px;
                margin: 0;
                margin-bottom: 5px;
                cursor: pointer;

                &:hover {
                    background-color: $btnhoverclr;
                }
            }

            .color-picker-accordion {
                margin-bottom: 10px;

                .color-picker-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    padding: 4px 14px;
                    margin-block-end: 0em;

                    color: $textclr2;
                    cursor: pointer;

                    .color-picker-btn {
                        font-size: 12px;


                    }

                    .color-picker-arrow {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 5px;

                        img {
                            filter: invert(42%) sepia(17%) saturate(178%) hue-rotate(170deg) brightness(78%) contrast(90%);

                            height: 16px;
                            width: 16px;
                        }
                    }

                    &:hover {
                        color: rgba(255, 255, 255, 0.925);
                        filter: brightness(100) saturate(0%);
                    }

                }

                .colors-grid {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 4px;
                    padding: 4px 14px;

                    .color-option {
                        width: calc(20% - 4px);
                        height: 36px;
                        border-radius: 3px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .remove-group-bgc {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 32px;
                        margin: 4px 0px;

                        background-color: rgba(132, 153, 189, 0.08);
                        border-radius: 3px;
                        font-size: 14px;

                        color: $textclr2;
                        cursor: pointer;

                        &:hover {
                            background-color: lighten(rgba(132, 153, 189, 0.08), 30%)
                        }
                    }
                }
            }

            .menu-footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                padding: 4px 14px;
                margin-bottom: 8px;
                cursor: pointer;

                &:hover {
                    background-color: $btnhoverclr;
                }

                span {
                    font-size: 14px;
                    color: $textclr2;
                }
            }
        }
    }
}