.right-nav-bar-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    right: 0;
    top: 3rem;
    z-index: 1000;
    width: 21.188em;
    height: calc(100% - 3rem);
    background-color: $bgclr1;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;

    &.is-close {
        transform: translateX(100%);
    }

    .right-nav-bar-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        font-weight: 500;
        font-size: 16px;
        height: 5em;
        background-color: $bgclr1;
        z-index: 1;


        .to-menu-btn-wrapper {
            position: absolute;
            position: absolute;
            left: 17px;
            top: 16px;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 32px;
            height: 32px;
            border-radius: 4px;
            transition: background-color 0.1s ease;
            cursor: pointer;

            &:hover {
                background-color: lighten($btnhoverclr, 10%);
            }

            img {
                transform: rotate(90deg);
                height: 20px;
                width: 20px;
                filter: brightness(0) saturate(100%) invert(73%) sepia(21%) saturate(206%) hue-rotate(170deg) brightness(90%) contrast(90%);

            }
        }

        .close-btn-wrapper {
            position: absolute;
            right: 17px;
            top: 16px;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 28px;
            height: 28px;
            border-radius: 4px;
            transition: background-color 0.1s ease;
            cursor: pointer;

            &:hover {
                background-color: $btnhoverclr;
            }

            img {
                height: 20px;
                width: 20px;
            }

        }

        .header-sep {
            height: 1px;
            width: 95%;
            border: 0;
            padding: 0;
            background-color: $hrclr;
        }
    }

    .right-nav-bar-body {
        position: absolute;
        top: 5em; 
        bottom: 0;
        left: 0;
        right: 0;

        overflow-y: auto;
        padding-top: 1em;
        scrollbar-color: rgb(255 255 255 / 20%) rgb(233 255 236 / 2%);
        scrollbar-width: thin;

        .activity-container {
            display: flex;
            justify-content: center;
            margin-bottom: 4px;
            cursor: pointer;

            .activity-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 8px;

                font-weight: 600;
                line-height: 20px;
                padding: 8px 6px 8px 12px;

                width: 94%;
                gap: 10px;

                img {
                    height: 20px;
                    width: 20px;
                }

                &:hover {
                    background-color: $btnhoverclr;
                }
            }

        }

        .change-background-container {
            display: flex;
            justify-content: center;
            margin-bottom: 4px;
            cursor: pointer;

            .change-background-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 8px;

                font-weight: 600;
                line-height: 20px;
                padding: 8px 6px 8px 12px;
                width: 94%;
                gap: 10px;

                .bgc-img {
                    height: 20px;
                    width: 20px;
                    background-position: 50% !important;
                    background-size: cover !important;
                    border-radius: 3px;
                }

                &:hover {
                    background-color: $btnhoverclr;
                }
            }
        }

        .collapse-all-container {
            display: flex;
            justify-content: center;
            margin-bottom: 4px;
            cursor: pointer;

            .collapse-all-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 8px;

                font-weight: 600;
                line-height: 20px;
                padding: 6px 6px 6px 10px;
                width: 94%;
                gap: 8px;

                img {
                    height: 24px;
                    width: 24px;
                }

                &:hover {
                    background-color: $btnhoverclr;
                }
            }
        }

        .delete-board-container {
            display: flex;
            justify-content: center;
            margin-bottom: 4px;
            cursor: pointer;

            .delete-board-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 8px;

                font-weight: 600;
                line-height: 20px;
                padding: 8px 6px 8px 12px;
                width: 94%;
                gap: 10px;

                img {
                    height: 20px;
                    width: 20px;
                }

                &:hover {
                    background-color: $btnhoverclr;
                }
            }
        }

        .delete-modal {
            position: relative;
            display: flex;
            justify-content: center;
            color: inherit;

            .delete-modal-content {
                position: absolute;
                top: 0;
                right: 9px;


                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                width: 304px;

                background-color: $bgclr1;
                text-align: center;
                padding: 8px 12px 12px 12px;
                width: 94%;
                border: 1px solid $hrclr;
                border-radius: 8px;

                button {
                    background-color: #F87168;
                    color: #172b4d;
                    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
                    border-radius: 2px;
                    height: 32px;
                    width: 80%;

                    &:hover {
                        background-color: lighten(#F87168, 3%);
                    }
                }


                .close-btn-wrapper {
                    position: absolute;
                    right: 8px;
                    top: 8px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 28px;
                    height: 28px;
                    border-radius: 4px;
                    transition: background-color 0.1s ease;
                    cursor: pointer;

                    &:hover {
                        background-color: $btnhoverclr;
                    }

                    img {
                        height: 16px;
                        width: 16px;
                    }

                }

            }
        }

        .activity-log {
            display: flex;
            flex-direction: column;

            .activity-item {
                padding: 8px 6px 8px 27px;
            }
        }

        .background-options {
            display: flex;
            padding: 0px 18px;

            .imgs-option {
                cursor: pointer;
                float: left;
                padding: 0 4px;
                position: relative;
                text-align: center;
                width: 50%;

                img {
                    background-size: cover;
                    border-radius: 8px;
                    height: 96px;
                    margin-bottom: 8px;
                    position: relative;
                    width: 100%;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

            .colors-option {
                cursor: pointer;
                float: left;
                padding: 0 4px;
                position: relative;
                text-align: center;
                width: 50%;

                img {
                    background-size: cover;
                    border-radius: 8px;
                    height: 96px;
                    margin-bottom: 8px;
                    position: relative;
                    width: 100%;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

        }

    }


}

.change-color-background {
    display: grid;
    grid-template-columns: repeat(auto-fit, 142px);
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin-block: 1em;
    padding: 0 8px;

    .color-button {
        position: relative;
    
        background-size: cover;
        border-radius: 8px;
        height: 96px;
        width: 142px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        &::after {
            content: '🦔';
            position: absolute;
            bottom: 5px;
            left: 5px;
            font-size: 16px;
            opacity: 1;
        }
    }

    &::after {
        content: '';
        width: 142px;
    }
}