.table-outside-container {
    margin-top: 12px;
    overflow: auto;
    max-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;

    .table-container {
        border-radius: 8px;
        background-color: $bgclr1;
        overflow: auto;
        padding-inline: 14px;
        height: 100vh;
    }

    .table-view {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed
    }

    user-select: none;
}

.table-header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $bgclr1;

    th {
        padding: 6px 8px;
        text-align: left;
        font-weight: 600;
        font-size: 12px;
        color: $txtclr2;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);


        &.due-date {
            position: relative;
            cursor: pointer;

            &:hover {
                background-color: #A6C5E229;
            }

            & .arrow-down-icon {
                position: absolute;
                right: 1em;
                top: 10px;
                height: 12px;
                width: 12px;
            }
        }
    }
}

.table-body {
    tr:not(.table-footer):not(.table-footer-last-element):not(.long-width) {

        // &:hover .grab-icon {
        //     opacity: 1;
        // }

        td {
            height: 40px;
            max-height: 40px;
            font-size: 14px;
            padding-inline: 8px;
            color: $txtclr1;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            overflow: hidden;

            &:hover:not(:first-child):not(.change-list-open) {
                background-color: #A6C5E229;
                cursor: pointer;
            }
        }

        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}

.table-footer {
    position: sticky;
    bottom: 0;
    background-color: $bgclr1;
    height: 10px !important;

    td {
        border-bottom: none;
    }
}

.long-width {
    width: 30%;
    padding-inline-end: 8px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: padding-right 0.1s ease;

    &:hover {
        padding-inline-end: 35px !important;
    }
}

.mid-width {
    width: 17%;
    padding-inline-end: 8px !important;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: visible;
    text-overflow: ellipsis;

    &.table-list-td:hover {
        padding-inline-end: 30px !important;
    }

    &.labels-list-td:hover {
        padding-inline-end: 20px !important;
    }

    &.members-td:hover {
        padding-inline-end: 20px !important;
    }

    &.dates-td:hover {
        padding-inline-end: 20px !important;
    }
}

.short-width {
    width: 20px;
    position: relative;

    & .grab-icon {
        position: absolute;
        top: 8px;
        right: 0px;

        opacity: 0;
        transition: opacity .2s;
    }

}

td {
    .member-thumbnail {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        // margin-right: 8px;
        margin-left: -2px;
        vertical-align: middle;
    }

    .labels-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        max-height: 40px;
        overflow: visible;

        &:hover .arrow-down-icon-labels {
            opacity: 1;
        }

        .table-label-tab {
            display: inline-block;
            margin-right: 4px;
            max-width: 100%;
            overflow: hidden;

            .label-color {
                height: 16px;
                display: inline-flex;
                align-items: center;
                border-radius: 4px;
                padding: 0 4px;
                max-width: 100%;
                min-width: 56px;
            }

            .label-title {
                font-size: 12px;
                font-weight: 500;
                color: #f4feffbc;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
        }
    }
}

.timer-container {
    display: inline-flex;
    align-items: center;
    padding: 2px 6px;
    border-radius: 4px;

    img {
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }

    span {
        font-size: 12px;
    }
}

.table-container {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.table-footer {
    position: sticky;
    bottom: 0;
    background-color: $bgclr1;
    height: 10px !important;

    td {
        border-bottom: none;
    }
}

.table-footer-last-element {
    border-bottom: none !important;
    height: 40px;
    padding-inline: 8px;

}

.td-empty-content {
    position: relative;
    width: 100%;
    height: 38px;
    max-height: 38px;

    .table-no-content {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);

        width: 2px;
        height: 2px;
        border-radius: 2px;
        background-color: $txtclr1;
    }

    .td-add-content {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -30%);

        opacity: 0;

        img {
            width: 16px;
            height: 16px;
        }
    }

    &:hover {
        .table-no-content {
            opacity: 0;
        }

        .td-add-content {
            opacity: 1;
        }
    }
}

.name-change-container {
    position: fixed;
    width: 304px;

    color: $txtclr2;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    border-radius: 8px;
    outline: 0;
    background-color: $bgclr4;
    box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
    border: 1px solid rgba(255, 255, 255, 0.1);

    z-index: 30;

    .name-change-header {
        display: grid;
        position: relative;
        grid-template-columns: 32px 1fr 32px;
        align-items: center;
        padding: 4px 8px;
        text-align: center;
        cursor: default;

        h1 {
            position: relative;
            grid-column: 1 / span 3;
            grid-row: 1;
            height: 40px;
            margin: 0;
            padding: 0 32px;
            overflow: hidden;
            font-size: 1em;
            font-weight: 600;
            letter-spacing: -0.003em;
            line-height: 40px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $txtclr2;
        }

        .btn-close-container {
            grid-column: 3;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 8px;
            z-index: 40;

            &:hover {
                cursor: pointer;
            }

            .btn-close {
                width: 16px;
                height: 16px;
            }
        }
    }

    .name-change-body {
        padding: 0 12px 12px 12px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .name-change-textarea {
        @include textarea;
        width: 100%;
        resize: vertical;
        margin-block-end: 40px;
        min-height: 80px;
        border-radius: 3px;
        font-size: 14px;
    }

    .btn-save {
        position: absolute;
        bottom: 12px;
        left: 12px;
        @include btn;
    }
}

.table-sort-container {

    position: fixed;
    inset: 164px 3px auto auto;
    width: 304px;

    color: $txtclr2;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    border-radius: 8px;
    outline: 0;
    background-color: $bgclr4;
    box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .sort-header,
    .name-change-header {
        display: grid;
        position: relative;
        grid-template-columns: 32px 1fr 32px;
        align-items: center;
        padding: 4px 8px;
        text-align: center;
        cursor: default;

        h1 {
            position: relative;
            grid-column: 1 / span 3;
            grid-row: 1;
            height: 40px;
            margin: 0;
            padding: 0 32px;
            overflow: hidden;
            font-size: 1em;
            font-weight: 600;
            letter-spacing: -0.003em;
            line-height: 40px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $txtclr2;
        }

        .btn-close-container {
            grid-column: 3;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 8px;

            cursor: pointer;

            .btn-close {
                width: 16px;
                height: 16px;
            }
        }

    }

    .sort-body {
        padding: 12px;
        overflow-x: hidden;
        overflow-y: auto;

        & h4 {
            margin-top: 16px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
            margin-top: 0;
        }

        .btn-sort-option {
            color: $txtclr1;
            display: flex;
            position: relative;
            align-items: center;
            margin: 0 -12px;
            padding: 6px 12px;
            font-weight: normal;
            cursor: pointer;

            .success-icon {
                position: absolute;
                right: 1em;
                width: 16px;
                height: 16px;
            }

            &:hover {
                background-color: #A6C5E229;
            }
        }
    }
}

tr {
    .task-title {
        position: relative;

        &:hover .task-title-pen-icon {
            opacity: 1;
        }

        .task-title-pen-icon {
            filter: brightness(0) saturate(100%) invert(86%) sepia(18%) saturate(190%) hue-rotate(171deg) brightness(89%) contrast(86%);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 20px;
            opacity: 0;
            margin-right: 1em;
            transition: opacity 0.2s;
            cursor: pointer;

            &:hover {
                filter: drop-shadow(0 1px 1px black);
            }
        }
    }
}

.table-list-td {
    position: relative;

    &:hover .arrow-down-icon {
        opacity: 1;
    }

    .arrow-down-icon {
        position: absolute;
        right: 1em;
        top: 15px;
        height: 12px;
        width: 12px;

        opacity: 0;
        transition: opacity .2s;
    }
}

.change-list-container {
    position: fixed;
    width: 304px;

    color: $txtclr2;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    border-radius: 8px;
    outline: 0;
    background-color: $bgclr4;
    box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
    border: 1px solid rgba(255, 255, 255, 0.1);

    z-index: 30;

    .change-list-header {
        display: grid;
        position: relative;
        grid-template-columns: 32px 1fr 32px;
        align-items: center;
        padding: 4px 8px;
        text-align: center;
        cursor: default;

        h1 {
            position: relative;
            grid-column: 1 / span 3;
            grid-row: 1;
            height: 40px;
            margin: 0;
            padding: 0 32px;
            overflow: hidden;
            font-size: 1em;
            font-weight: 600;
            letter-spacing: -0.003em;
            line-height: 40px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $txtclr2;
        }

        .btn-close-container {
            grid-column: 3;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 8px;
            z-index: 40;

            &:hover {
                cursor: pointer;
            }

            .btn-close {
                width: 16px;
                height: 16px;
            }
        }
    }


    .change-list-body {
        padding: 12px;
        overflow-x: hidden;
        overflow-y: auto;

        & h4 {
            margin-top: 16px;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
            margin-top: 0;
        }

        .btn-list-option {
            color: $txtclr1;
            display: flex;
            position: relative;
            align-items: center;
            margin: 0 -12px;
            padding: 6px 12px;
            font-weight: normal;
            cursor: pointer;

            .success-icon {
                position: absolute;
                right: 1em;
                width: 16px;
                height: 16px;
            }

            &:hover {
                background-color: #A6C5E229;
            }
        }
    }
}

.mid-width {
    & .close-action-container {
        position: absolute;
        top: 0;
        right: 3px;

        padding: 2px !important;
        border-radius: 3px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 18px;
            height: 18px;
        }
    }
}

.task-action-contain {
    z-index: 100;
}

.arrow-down-icon-labels {
    position: absolute;
    top: 50%;
    right: -18%;
    translate: -50% -50%;

    height: 12px;
    width: 12px;

    opacity: 0;
    transition: opacity .2s;
}

.arrow-down-icon-members {
    position: absolute;
    right: 1em;
    top: 15px;
    height: 12px;
    width: 12px;

    opacity: 0;
}

.members-td {
    position: relative;

    &:hover .arrow-down-icon-members {
        opacity: 1;
    }
}

.dates-td {
    position: relative;
    
    &:hover .arrow-down-icon-dates {
        opacity: 1;
    }
}

.arrow-down-icon-dates {
    position: absolute;
    right: 1em;
    top: 15px;
    height: 12px;
    width: 12px;

    opacity: 0;
}

.dates-td {
    .checkbox-due-date {
        @include checkbox;
        vertical-align: middle;
    }

    .timer-container {
        margin-inline-start: 5px;
        vertical-align: middle;

    }
}