.task-action-container {
    position: relative;
}

.task-action {
    position: absolute;
    width: 304px;
    padding: 12px;
    background-color: rgb(40, 46, 51);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 14px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1001;

    &>* {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        &>* {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            &>* {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                &>* {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
        }
    }


    .back-container {
        position: absolute;
        top: 0;
        left: 0;

        padding: 12px;
        border-radius: 3px;

        display: flex;
        justify-content: center;
        align-items: center;


        &:hover {
            background-color: #3c474f;
            cursor: pointer;
        }

    }

    .close-action-container {
        position: absolute;
        top: 0;
        right: 0;

        padding: 12px;
        border-radius: 3px;

        display: flex;
        justify-content: center;
        align-items: center;


        &:hover {
            background-color: #3c474f;
            cursor: pointer;
        }

    }

    .action-header {
        font-size: 14px;
        position: relative;
        font-weight: 600;
        text-align: center;
        color: $txtclr2;

    }

    .title {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-block-end: 14px;

        button {
            font-family: inherit;
        }
    }

    .name {
        font-size: 14px;
    }

    input.text {
        font-size: 14px;
        // line-height: 3em;
        width: 100%;
        height: 33px;
        padding: 8px 12px;
        color: inherit;
        background-color: #23262a;
        border: none;
        outline: none;
        border-radius: 2px;
        margin: 4px 0 12px;
        color: $txtclr1;

        &::placeholder {
            color: $txtclr2;
        }

        &:focus {
            outline: 2px solid #86b6f4;
        }
    }

    .card-member {
        position: relative;

        .close-icon {
            position: static;
            height: 1em;
            width: 1em;
            margin-inline-start: auto;

            &:hover {
                background-color: #333b41;
            }
        }
    }

    .member {
        padding: 4px 8px 4px 4px;
        border-radius: 4px;

        display: flex;
        align-items: center;

        cursor: pointer;

        .member-thumbnail {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-inline-end: 8px;
        }

        &:hover {
            background-color: #333b41;
        }
    }

    .labels {

        display: flex;
        flex-direction: column;
        gap: 4px;

        .label-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .label {
                font-size: 14px;
                font-weight: 500;
                width: 100%;
                height: 32px;
                line-height: 14px;
                padding: 12px;
                border-radius: 3px;
                margin-inline: 12px 4px;
                min-height: 34px;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

            }


            .label-checkbox {
                @include checkbox;
                width: 22.05px;
            }

            .pen-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px;
                border-radius: 3px;


                &:hover {
                    background-color: #3c474f;
                    cursor: pointer;
                }

                .pen-icon {
                    height: 16px;
                    width: 16px;

                }

            }

        }
    }

    .label-preview-container {
        margin: 0 em(-12);
        padding: 32px;
        background-color: #161a1d;
    }

    .label-preview {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        min-width: 48px;
        max-width: 100%;
        height: 32px;
        margin-bottom: 0;
        padding: 0 12px;
        overflow: hidden;
        border-radius: 3px;
        color: inherit;
        font-size: 14px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .colors {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(2, auto);
        gap: 8px;

        .color {
            width: 48px;
            height: 32px;
            border-radius: 3px;
            cursor: pointer;


            &.selected {
                outline-color: #579dff;
                outline-width: 2px;
                outline-style: solid;
            }

        }
    }

    .btn-blue {
        width: 74px;
        color: rgb(40, 46, 51);
        background-color: #579dff;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        height: 32px;

        &:hover {
            background-color: #85b8ff;
        }
    }

    .btn-red {
        width: 74px;
        color: rgb(40, 46, 51);
        background-color: #f87168;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        height: 32px;

        &:hover {
            background-color: #fd9891;
        }
    }

    .btn-dark-grey {
        background-color: #323940;
        color: inherit;
        text-align: center;
        width: 100%;
        border-radius: 3px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        gap: 8px;

        &:hover{
            background-color: #3c474f;
        }
    }

    .btn-file-upload {
        background-color: #323940;
        color: inherit;
        text-align: center;
        width: 100%;
        border-radius: 3px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin-block-start:8px;
    }

    .btn-disabled {
        cursor: not-allowed;
        background-color: #2e343a;
        color: #57636e;

        &:hover {
            cursor: not-allowed;
            background-color: #2e343a;
            color: #57636e;
        }
    }

    .btn-full {
        width: 100%;
    }

    .size-container {
        .size-btns {
            display: flex;
            justify-content: space-between;
            margin-block-start: 4px;

            .btn-size {
                height: 62px;
                width: 140px;
                background-color: #454e59;
                color: inherit;
                border-radius: 3px;

                &:hover {
                    background-color: rgba(166, 197, 226, 0.16);
                    ;
                }
            }
        }

        .remove-cover {
            background-color: #323940;
            color: inherit;
            text-align: center;
            width: 100%;
            border-radius: 3px;
            font-size: 0.875em;
            line-height: 1.6666666667em;
            margin-block-start: 12px;
        }
    }

    .cover-attachments {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .cover-attachment {
            margin: 0;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            box-shadow: none;
            width: 88px;
            height: 48px;

            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .unsplash-imgs {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .unsplash-img{
            margin: 0;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: none;
            width: 88px;
            height: 48px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .icon.remove-icon {
        position: static;
    }

    .due-date {
        width: 100%;
        display: flex;
        align-items: center;

        .checkbox {
            position: relative;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            height: 16px;
            width: 16px;
            background-color: #22272b;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px #738496;
            border: none;
            outline: none;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;
            padding: 0;

            &:checked {
                background-color: #99C8FF;
            }

            &:checked::before {
                content: "✔";
                color: #3B3B3B;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                line-height: 1;

            }
        }

        .date-text {
            color: inherit;
            margin: 0 8px;
            width: 7em;
            border: 0.8px solid currentColor;
            border-radius: 5px;

        }
    }

}

.attachment {
    .sub-title {
        font-size: 14px;
        color: $txtclr2;
        font-weight: 500;
    }
}

.cover-pic {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;

    background-position: 50%;
    background-repeat: no-repeat;
    // background: #22272B;
    border: 1px solid rgba(9, 30, 66, .08);
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    gap: 8px;
    height: 62px;
    position: relative;
    width: 134px;

    .header-cover {
        &.focused {
            box-shadow: 0 0 0 2px #161A1D, 0 0 0 4px #579DFF;
            border-radius: 3px;
        }

        .card-header {
            background: #6b778c;
            background-size: cover;
            background-position: center;
            border-radius: 3px 3px 0 0;
            height: 28px;
        }

        .card-body {
            position: relative;

            padding: 6px 4px 4px 6px;

            .top-line {
                background: #596773;
                border-radius: 2px;
                height: 4px;
                width: 122px;
            }

            .middle-line {
                background: #596773;
                border-radius: 2px;
                height: 4px;
                margin-top: 4px;
                width: 98px;
            }

            .bottom-line {
                display: flex;
                margin-top: 6px;

                & * {
                    background: #596773;
                    border-radius: 2px;
                    height: 6px;
                    margin-right: 2px;
                    width: 16px;
                }
            }

            .dot-corner {
                background: #596773;
                border-radius: 5px;
                bottom: 4px;
                height: 10px;
                position: absolute;
                right: 4px;
                width: 10px;
            }
        }

    }
}

.body {
    .body-cover {
        background: #5e6c84;
        background-size: cover;
        background-position: center;
        border: 1px solid rgba(9, 30, 66, .08);
        border-radius: 3px;
        box-shadow: none;
        height: 62px;
        margin: 0;
        position: relative;
        width: 134px;

        &.focused {
            box-shadow: 0 0 0 2px #161A1D, 0 0 0 4px #579DFF;
            border-radius: 3px;
        }

        .card-body {
            bottom: 4px;
            padding: 6px 4px 4px 6px;
            position: absolute;

            & * {
                background: rgb(255 255 255 / 0.8);
                border-radius: 2px;
                height: 4px;
                opacity: 1;
            }

            .top-line {
                width: 116px;
            }

            .middle-line {
                margin-top: 4px;
                width: 92px;
            }
        }


    }
}