.task-action-container {
    position: relative;
}

.task-action {
    position: absolute;
    width: em(304);
    padding: em(12);
    background-color: rgb(40, 46, 51);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: em(14);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;

    &>* {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        &>* {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            &>* {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                &>* {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
        }
    }


    .back-container {
        position: absolute;
        top: 0;
        left: 0;

        padding: em(12);
        border-radius: 3px;

        display: flex;
        justify-content: center;
        align-items: center;


        &:hover {
            background-color: #3c474f;
            cursor: pointer;
        }

    }

    .close-action-container {
        position: absolute;
        top: 0;
        right: 0;

        padding: em(12);
        border-radius: 3px;

        display: flex;
        justify-content: center;
        align-items: center;


        &:hover {
            background-color: #3c474f;
            cursor: pointer;
        }

    }

    .action-header {
        font-size: em(14);
        position: relative;
        font-weight: 600;
        text-align: center;
        color: $txtclr2;

    }

    .title {
        font-size: em(12);
        font-weight: 600;
        line-height: em(16);
        margin-block-end: em(14);

        button {
            font-family: inherit;
        }
    }

    .name {
        font-size: em(14);
    }

    input.text {
        font-size: em(14);
        line-height: 3em;
        width: 100%;
        height: em(33);
        padding: em(8) em(12);
        color: inherit;
        background-color: #23262a;
        border: none;
        outline: none;
        border-radius: 2px;
        margin: 4px 0 12px;
        color: $txtclr1;

        &::placeholder {
            color: $txtclr2;
        }

        &:focus {
            outline: 2px solid #86b6f4;
        }
    }

    .card-member {
        position: relative;

        .close-icon {
            position: static;
            height: 1em;
            width: 1em;
            margin-inline-start: auto;

            &:hover {
                background-color: #333b41;
            }
        }
    }

    .member {
        padding: em(4) em(8) em(4) em(4);
        border-radius: 4px;

        display: flex;
        align-items: center;

        cursor: pointer;

        .member-thumbnail {
            height: em(32);
            width: em(32);
            border-radius: 50%;
            margin-inline-end: em(8);
        }

        &:hover {
            background-color: #333b41;
        }
    }

    .labels {

        display: flex;
        flex-direction: column;
        gap: em(4);

        .label-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .label {
                font-size: em(14);
                font-weight: 500;
                width: 100%;
                height: 32px;
                line-height: em(14);
                padding: em(12);
                border-radius: 3px;
                margin-inline: em(12) em(4);
                min-height: em(34, 14);

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

            }


            .label-checkbox {
                @include checkbox;
                width: 22.05px;
            }

            .pen-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: em(9);
                border-radius: 3px;


                &:hover {
                    background-color: #3c474f;
                    cursor: pointer;
                }

                .pen-icon {
                    height: em(16);
                    width: em(16);

                }

            }

        }
    }

    .label-preview-container {
        margin: 0 em(-12);
        padding: em(32);
        background-color: #161a1d;
    }

    .label-preview {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        min-width: em(48);
        max-width: 100%;
        height: em(32);
        margin-bottom: 0;
        padding: 0 em(12);
        overflow: hidden;
        border-radius: 3px;
        color: inherit;
        font-size: em(14);
        font-weight: 500;
        line-height: em(32);
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .colors {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(2, auto);
        gap: em(8, 14);

        .color {
            width: em(48, 16);
            height: em(32, 16);
            border-radius: 3px;
            cursor: pointer;


            &.selected {
                outline-color: #579dff;
                outline-width: em(2);
                outline-style: solid;
            }

        }
    }

    .btn-blue {
        width: em(74, 14);
        color: rgb(40, 46, 51);
        background-color: #579dff;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        height: 32px;

        &:hover {
            background-color: #85b8ff;
        }
    }

    .btn-red {
        width: em(74, 14);
        color: rgb(40, 46, 51);
        background-color: #f87168;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        height: 32px;

        &:hover {
            background-color: #fd9891;
        }
    }

    .btn-dark-grey {
        background-color: #323940;
        color: inherit;
        text-align: center;
        width: 100%;
        border-radius: 3px;
        font-size: em(14, 16);
        line-height: em(20, 12);
        font-weight: 500;
        gap: em(8);
    }

    .btn-file-upload {
        background-color: #323940;
        color: inherit;
        text-align: center;
        width: 100%;
        border-radius: 3px;
        font-size: em(14, 16);
        line-height: em(20, 12);
        font-weight: 500;
        margin-block: 12px 15px;
    }

    .btn-disabled {
        cursor: not-allowed;
        background-color: #2e343a;
        color: #57636e;

        &:hover {
            cursor: not-allowed;
            background-color: #2e343a;
            color: #57636e;
        }
    }

    .size-container {
        .size-btns {
            display: flex;
            justify-content: space-between;

            .btn-size {
                height: em(62, 14);
                width: em(140, 14);
                background-color: #454e59;
                color: inherit;
                border-radius: 3px;

                &:hover {
                    background-color: rgba(166, 197, 226, 0.16);
                    ;
                }
            }
        }

        .remove-cover {
            background-color: #323940;
            color: inherit;
            text-align: center;
            width: 100%;
            border-radius: 3px;
            font-size: 0.875em;
            line-height: 1.6666666667em;
            margin-block: em(6, 14) em(10, 14);
        }
    }

    .cover-attachments {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .cover-attachment {
            margin: 0;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            box-shadow: none;
            width: 88px;
            height: 48px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .icon.remove-icon {
        position: static;
    }

}

.attachment {
    .sub-title {
        font-size: 14px;
        color: $txtclr2;
        font-weight: 500;
    }
}