.task-action-container {
    position: relative;
}

.task-action {
    position: fixed;
    background-color: rgb(40, 46, 51);
    width: em(304);
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: em(12, 14);
    gap: em(28, 14);
    cursor: default;

    // &>*>* {
    //     display: flex;
    //     align-items: center;
    // }

    .action-header {
        position: relative;
        font-weight: 600;
        text-align: center;
    }

    .title {
        font-size: em(12, 14);
        font-weight: 600;
        line-height: em(16, 14);
        margin-block-end: em(14, 14);
    }

    .name {
        font-size: em(14, 14);
    }

    input.text {
        border: none;
        outline: none;
        font-weight: 600;
        font-size: em(14, 14);
        width: 100%;
        height: em(33, 14);
        border-radius: 2px;
        background-color: #23262a;
        color: inherit;
        padding: em(8, 14) em(12, 14);
        font-weight: normal;

        &:focus {
            outline: 2px solid #86b6f4;
        }

        &::placeholder {
            color: inherit;
        }
    }

    .card-member {
        position: relative;

        .close-icon {
            position: static;
            margin-inline-start: auto;
        }
    }

    .member {
        display: flex;
        align-items: center;
        padding: em(4, 14) em(8, 14) em(4, 14) em(4, 14);
        border-radius: 4px;
        cursor: pointer;

        .member-thumbnail {
            height: em(32, 14);
            width: em(32, 14);
            border-radius: 50%;
            margin-inline-end: em(8);
        }

        &:hover {
            background-color: #333b41;
        }
    }

    .labels {

        display: flex;
        flex-direction: column;
        gap: em(4, 14);

        .label-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap: em(10, 14);

            .label {
                font-size: em(14, 14);
                font-weight: 500;
                width: 100%;
                line-height: em(14, 14);
                padding: em(12);
                border-radius: 3px;
                margin-inline: em(12, 14) em(4, 14);
            }

            .pen-icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: em(9, 14);
                border-radius: 3px;


                &:hover {
                    background-color: #3c474f;
                    cursor: pointer;
                }

                .pen-icon {
                    height: em(16, 14);
                    width: em(16, 14);

                }

            }

        }
    }

    .colors {
        display: grid;
        grid-template-columns: repeat(5,auto);
        grid-template-rows: repeat(2,auto);
        gap: em(8,14);

        .color {
            width: em(48,16);
            height: em(32,16);
            border-radius: 3px;
            cursor: pointer;
        }
    }

    .add-checklist{
        width:em(74,14);
        color:rgb(40, 46, 51);
        background-color: #579dff;
        border-radius: 3px;

        &:hover{
            background-color: #85b8ff;
        }
    }

    .btn-file-upload{
        background-color: #323940;
        color: inherit;
        text-align: center;
        width: 100%;
        border-radius: 3px;
        font-size: em(14,16);
        line-height: em(20,12);
        // font-weight: 500;
    }

}