@function em($pixels, $context: 16) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}


@mixin task-gtc {
    display: grid;
    grid-template-columns: auto minmax(auto, 512px) auto;
}

.task-details-backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;


    .task-details {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        flex-direction: column;
        min-height: em(600, 16);
        width: em(768, 16);
        background-color: rgb(50 57 64);
        border-radius: 8px;
        color: rgb(182, 194, 207);

        .fs12 {
            font-size: em(12);
            margin-block-end: em(4, 14);
        }

        .icon {
            height: em(20);
            width: em(20);
            position: absolute;
        }

        .task-header {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: em(32);
            padding: 1em em(52)em(8) em(56);

            .task-title {
                font-size: em(20);
                font-weight: 600;
                margin-inline-end: auto;
            }

            .task-in-list {
                padding-inline-start: em(1);
            }

            .close-icon {
                right: em(22);
                top: em(22);
            }

            .card-icon {
                left: em(26);
                top: em(22);
            }
        }

        .task-main {
            display: flex;

            &>*>* {
                position: relative;
            }

            .task-content {
                padding: 0 em(8) em(8) em(57);

                .members-labels-notifications-date-container {
                    display: flex;
                    gap: 1em;
                    flex-wrap: wrap;
                    margin-block-end: 2em;

                    &>* {
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-around;
                    }

                    .members-img-container {
                        display: flex;
                        gap: em(2);

                        .member-thumbnail {
                            height: em(32);
                            width: em(32);
                            border-radius: 50%;
                            margin: 0 4px 4px 0;

                        }
                    }


                    .labels {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 4px;

                        .label {
                            border-radius: 3px;
                            padding: em(3) em(12);
                            font-size: 0.875em;
                            height: 32px;
                            font-weight: 500;


                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .date-container {

                        div.date {
                            margin-block: auto;
                        }

                        .checkbox {
                            vertical-align: middle;
                            margin: auto;
                            margin-inline-end: em(6);
                        }



                    }

                }

                .description-container {
                    display: flex;
                    flex-direction: column;

                    width: 512px;
                    // height: 100px;
                    place-self: center;

                    .description-icon {
                        left: em(-31);
                        top: em(1);
                        height: em(24);
                        width: em(24);
                    }

                    .description {
                        border: none;
                        background-color: #A1BDD914;
                        font-weight: 500;
                        min-height: 40px;
                        padding: 8px 12px;
                        border-radius: 3px;
                        color: $txtclr1;
                        font-family: inherit;
                        line-height: 1.25em;
                        font-size: .875em;
                        resize: none;

                        overflow-y:auto;

                        &::placeholder {
                            color: $txtclr1;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }


                }

                .activity-container {
                    .activity-icon {
                        left: em(-27);
                        top: em(4);
                        height: em(17);
                        width: em(17);
                    }
                }

            }
        }

        .task-actions {
            display: flex;
            flex-direction: column;
            padding: em(2) em(16) em(8) em(8);


            .action {
                position: relative;
                display: block;
                width: em(156);
                font-size: em(14);
                color: inherit;
                background-color: rgba(161, 189, 217, 0.08);
                text-align: start;
                border-radius: 3px;
                height: em(32, 14);
                margin-block-end: em(8);
                width: em(168, 14);
                // overflow: hidden;
                padding: em(6) em(12);
                text-overflow: ellipsis;
                transition-duration: 85ms;
                transition-property: background-color;
                transition-timing-function: ease;
                white-space: nowrap;

                .icon {
                    height: 1em;
                    width: 1em;
                    top: em(6.7, 14);
                }

                .action-title {
                    padding-inline-start: em(24, 14);
                }

                &:hover {
                    background-color: rgba(166, 197, 226, 0.16);
                }
            }


        }
    }
}