@mixin task-gtc {
    display: grid;
    grid-template-columns: auto minmax(auto, 512px) auto;
}

.task-details-backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;


    .task-details {
        @include task-gtc();
        // min-height: 600px;
        min-width: 768px;
        background-color: rgb(50 57 64);
        border-radius: 8px;
        color: white;

        & >*{
            padding:0.5em;
        }

        .task-header {
            @include task-gtc();
            grid-column: 1/-1;
            height: auto;

            .task-title {
                grid-column: 2/3;
                margin-inline-end: auto;
            }
        }

        .members-labels-notifications-date-container {
            display: flex;
            gap: 1em;
            grid-column: 2/3;

            .members-img-container {
                display: flex;
                gap:2px;
                
                .member-thumbnail {
                    height: 2em;
                    width: 2em;
                    border-radius: 50%;
                }
            }
        }

        .description-container {
            display: flex;
            flex-direction: column;

            grid-column: 2/3;
            width: 512px;
            height: 100px;
            place-self: center;
        }

        .activity-container{
            grid-column: 2/3;
        }

    }
}