// Font Sizes
.fs12 { font-size: rem(12px); }
.fs14 { font-size: rem(14px); }
.fs18 { font-size: rem(18px); }
.fs20 { font-size: rem(20px); }
.fs24 { font-size: rem(24px); }
.fs28 { font-size: rem(28px); }
.fs30 { font-size: rem(30px); }

// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}

//Clean List
.clean-list{
    list-style-type: none;
}


//Imgs
.member-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 1em;
    width: 24px;
    height: 24px;
    background-color: #5243aa;
    font-family: 'nunito regular';
  }
  
  .user-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  ///svg color
  .svg-color{
    fill: #9FADBC;  
}