/* MOBILE */

@media (max-width: 500px) {
    .groups-header {
        .groups-header-rightside {

            .btn-share-join {
                display: none !important;
            }

            .members-container {
                // display: flex;
                display: none !important;
            }
        }

    }

    .right-nav-bar-container {
        width: 100% !important;
    }

    // .right-nav-bar-container .right-nav-bar-header {
    //     // position: absolute;
    //     // display: flex;
    //     // flex-direction: column;
    //     // justify-content: center;
    //     // align-items: center;
    //     font-weight: 500;
    //     font-size: 16px;
    //     height: 5em;
    //     background-color: #1d2125;
    //     z-index: 1;
    // }
}






// /* Med */
// @media (min-width: 501px) and (max-width: 740px) {

// }


// @media (min-width: 741px) and (max-width: 970px) {

// }




/* LARGE */


@media (min-width: 1000px) {}