/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}


@mixin label {
    font-size: 0.75em;
    font-weight: 700;
    line-height: 16px;
    margin-block: 12px 4px;
    color: #9fadbc;
}

@mixin btn {
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 500;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    background-color: #579DFF;
    color: $bgclr1;
}

@mixin checkbox {

    position: relative;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;

    height: 16px;
    width: 16px;


    background-color: $bgclr2;

    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #738496;
    border: none;
    outline: none;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;

    padding: 0;

    &:checked {

        background-color: #99C8FF;

        &::before {
            content: '✔';
            color: #3B3B3B;
            position: absolute;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
            font-size: 14px;
            line-height: 1;
        }
    }
}