@font-face {
  font-family: 'nunito regular';
  src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Segoe UI.woff') format('woff');
}

//   @font-face {
//     font-family: 'Segoe UI Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: url('../fonts/Segoe UI Italiddc.woff') format('woff');
//   }

@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Segoe UI Bold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Segoe UI Bold Italic.woff') format('woff');
}

// Charlies

@font-face {
  font-family: 'Charlie';
  font-style: normal;
  font-weight: normal;
  src: url('../../../src/assets/styles/fonts/Charlie.ttf') format('truetype');
}
@font-face {
  font-family: 'Charlie Text';
  src: url('../../../src/assets/styles/fonts/Charlie-Text.ttf') format('truetype');
}
@font-face {
  font-family: 'Charlie Text Bold';
  src: url('../../../src/assets/styles/fonts/Charlie-Text-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Charlie Display';
  src: url('../../../src/assets/styles/fonts/CharlieDisplay-Semibold.ttf') format('truetype');
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}