// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// Board Index Colors
$bgclr1: #1d2125;
$txtclr1: #b6c2cf;
$txtclr1hvr: darken(#b6c2cf, 18%);
//

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// groups
$textclr2: rgba(255, 255, 255, 0.7);
