// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// Board Index Colors
$bgclr1: #1d2125;
$bgclr2: #282e33;
$txtclr1: #b6c2cf;
$txtclr1hvr: darken($txtclr1, 18%);
$txtclr2: #9fadBc;
//


$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 576px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 992px;

// groups
$textclr2: rgba(255, 255, 255, 0.7);
$bgclr2:  #22272b;
$bgclr3: #04120d; //groups bgcl
$btnhoverclr: #8499bd57;